<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getAuthor() + ',' + book.getName() + ',' + book.getYear()}">book</a>
</div>
<div th:if="${pageNumber < count}">
    <br/>
    <a th:if="${pageNumber} != 1" th:href="@{/books(page = ${pageNumber - 1}, forPage = ${forPage})}">Previous page</a>
    <a th:if="${pageNumber < count}" th:href="@{/books(page = ${pageNumber + 1}, forPage = ${forPage})}">Next page</a>
</div>

<br/>
<hr/>

<a href="/books/new">Create new book</a>

</body>
</html>